* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    padding: 3rem 20px;
}

h1 {
    margin: 4rem 0 4rem 0;
    text-align: center;
    font-size: 3rem;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    height: 100%;
    width: 100%;
    max-width: 700px;
}

#todo-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 20px;
}

#btn-add {
    padding: 0.5em 1em;
    border: 1px solid #aaa;
    border-radius: 0 5px 5px 0;
    background-color: lightgreen;
    cursor: pointer;
    font-size: 20px;
}

#btn-del {
    font-size: 1rem;
    padding: 0.5em 1em;
    border: 1px solid #aaa;
    cursor: pointer;
    background-color: white;
}

#btn-edit {
    font-size: 1rem;
    padding: 0.5em 1em;
    border: 1px solid #aaa;
    cursor: pointer;
    background-color: white;
}

.todo-list {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.todo-list-finish {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    opacity: 0.5;
}

/* Todo text styling */
#todo {
    flex: 1;
    padding: 0 1rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    word-break: break-word;
    /* Allows long words to break */
    overflow-wrap: break-word;
    /* Ensures that content wraps within the container */
    white-space: normal;
    /* Ensures that text wraps to a new line */
    line-height: 1.5;
    /* Adds some space between lines */
    max-width: 100%;
    /* Prevents text from expanding beyond its container */
}

.edit-input {
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 1px solid blue;
    outline: none;
    font-size: 20px;
}

#todo-search {
    outline: none;
    font-style: italic;
    color: gray;
    width: 200px;
    font-size: 20px;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ccc;
}

#todo-search::placeholder {
    color: #888;
    font-style: italic;
    opacity: 0.5;
    text-align: center;
}

/* dark mode */
body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
    background-color: #333;
    color: #ffffff;
}

/* The switch - the box around the slider */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    --background: #120334;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    transition: .5s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #ffffff;
    background: var(--background);
    transition: .5s;
}

input:checked+.slider {
    background-color: #000000;
}

input:checked+.slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #ffffff;
}
